html, body {
    width: 100%;
    height: 100%;
  }
  
  a {
    color: inherit; 
    text-decoration: none; 
  }
  
  .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: -1px;
      margin-bottom: 5px;
  }
  
  #sidebar-wrapper {
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #E4DFDE;
      overflow-x: hidden;
      transition: width .3s;
      box-shadow: 0 2px 4px;
      margin-bottom: 0;
      z-index : 1000;
    }
    
    #page-content-wrapper {
      padding-left: 0;
      transition: padding-left .3s;
    }
    
    .sidebar-nav li a {
      display: block;
      padding: 10px;
      text-decoration: none;
    }
  
  .landing {
    display: flex; /* make this a flex container */
    justify-content: center; /* center children horizontally */
    align-items: center; /* center children vertically */
    height: 350px; /* for example, adjust as needed */
    color: inherit;
    background-image: url(/img/banner.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
  
  .landing h1 {
      text-align: center;
      color: #fbffff;
  }
  
  @keyframes text-animation {
      0% { opacity: 0; }
      50% { opacity: 1; }
      100% { opacity: 0; }
  }
  
  .animated-text {
      animation: text-animation 10s infinite;
  }
  
  .container-ixora {
    background: white;
    width: cover;
    height: 1200px;
    margin: 0 auto;
  }
  
  .sticky-box-1 {
    margin-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    height: 450px;
    margin-bottom: 30px;
    background: white;
    top: 0px;
  }
  
  .sticky-box-1 h2 {
    margin-left: 200px;
  }
  
  .sticky-box-1 p {
    font-size: 18px;
    margin-left: 80px;
  }
  
  .sticky-box {
    margin-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    height: 59%;
    margin-bottom: 30px;
    background: white;
    top: 0px;
  }
  
  
.flash-container {
  right: 260px;
  width: 290px;
  height: 280px;
  background: #333333;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  top: -360px;

  &::after {
    content: "";
    height: 150%;
    width: 25px;
    background: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
    opacity: .6;
    filter: blur(6px);
    animation: move 1s infinite ease-out;
  }
}

@keyframes move {
  0% {
    transform: translate(-200px, -200px) rotate(45deg);
  }
  100% {
    transform: translate(200px, 200px) rotate(45deg);
  }
}

#box {
  width: 200px; /* Adjust to the desired width */
  height: 350px; /* Adjust to the desired height */
  background-color: transparent; /* Adjust to the desired background color */
  border: 2px solid white; /* Adjust border as needed */
  margin-left: 800px;
  box-shadow: 0 2px 4px;
  border-radius: 20px;
}

#box img{
  width: 80px;
  height: 100px;
  margin-top: 15px;
  margin-left: 55px;
  border-radius: 40px;
}

.container {
  --scale: 1.25;
  --rotation: 360deg;
  position: inherit;
  left: 50%;
  top: 50%;
  margin-left: 50%;
  margin-top: 33%;
  margin-bottom: 10px;
  transform: translate(-50%, -50%);
  width: 60vmin;
  height: 55vmin;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
  grid-template-areas:
      "E B B"
      "E A C"
      "D D C";
}
.container > div {
  position: inherit;
  border: 3px solid #431312;
  border-radius: 5px;
  overflow: hidden;
}

.A {
  grid-area: A;
}
.B {
  grid-area: B;
}
.C {
  grid-area: C;
}
.D {
  grid-area: D;
}
.E {
  grid-area: E;
}

.container > div img {
  --scale: 1;
  --rotation: -360deg;
position: inherit;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
  width: 260%;
  height: 260%;
  object-fit: cover;
  object-position: center;
}

.container,
.container > div img {
  animation: 10s scale-up both ease-in-out infinite alternate;
}

@keyframes scale-up {
0% {
  transform: translate(-50%, -50%) scale(var(--scale)) rotate(0deg);
}
100% {
  transform: translate(-50%, -50%) scale(1) rotate(var(--rotation));	
}
}

#daily {
  height: 100%;
}