#body {
    width: 100%;
    height: 100%;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: -1px;
    margin-bottom: 5px;
}

#sidebar-wrapper {
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #E4DFDE;
    overflow-x: hidden;
    transition: width .3s;
    box-shadow: 0 2px 4px;
    margin-bottom: 0;
    z-index : 1000;
  }
  
  #page-content-wrapper {
    padding-left: 0;
    transition: padding-left .3s;
  }
  
  .sidebar-nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
  }


#homepage {
    background: white;
    width: cover;
    height: 1200px;
    margin: 0 auto;

}

#homepage-1 {
    margin-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    height: cover;
    width: cover;
    margin-bottom: 30px;
    top: 0px;;
}

#homepage-1 img{
    width: 100%;
    height: 100%;
    filter: brightness(50%); 
}

#homepage-2 {
    position: -webkit-sticky;
    position: sticky;
    height: 100%;
    background: white;
    top: 0px;
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* one column by default */
    grid-gap: 10px
}

.accordion-container {
    margin-top: 20%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    margin-left: 12%;
}

.accordion-container .accordion-item {
    list-style: none;
    height: 500px;
    transition: width 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.accordion-container .accordion-item:hover {
    width: 800px;
}

.accordion-container .accordion-item:hover::after {
    opacity: 1;
}

.accordion-container .accordion-item::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.accordion-container .accordion-item .accordion-title {
    color: #fff;
    font-size: 18px;
    z-index: 2;
}


#homepage-3 {
    position: -webkit-sticky;
    position: sticky;
    height: 100%;
    background: url(/img/fc31f6e9827260ae401a63ceb3049b93.png);
    width: 100%;
    background-repeat: no-repeat;
    top: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.g-container {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'STHeiti', sans-serif;;
    color: #fff;
    font-size: 32px;
}

.word {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: change 8s infinite ease-in-out;
}

.word:nth-child(1) {
    animation-delay: -8s;
}

.word:nth-child(2) {
    animation-delay: -6s;
}

.word:nth-child(3) {
    animation-delay: -4s;
}

.word:nth-child(4) {
    animation-delay: -2s;
}

@keyframes change {
    0%,
    5%,
    100% {
        filter: blur(0px);
        opacity: 1;
    }
    50%,
    80% {
        filter: blur(80px);
        opacity: 0;
    }
}
