body {
    animation: backgroundChange 5s infinite;
    overflow: auto;
    background: url(/cssidea/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.5);
}

a {
    text-decoration: none;
}

#header {
    background: transparent;
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 2.5em;
    left: 0;
    line-height: 3.5em;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

    #header h1 {
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        margin: 0;
        position: absolute;
        top: 0;
    }

    #header nav {
        position: absolute;
        right: 1em;
        top: 0;
    }

        #header nav ul {
            margin: 0;
        }

            #header nav ul li {
                display: inline-block;
                margin-left: 1em;
            }

                #header nav ul li a, #header nav ul li span {
                    border: 0;
                    color: black;
                    display: inline-block;
                    height: inherit;
                    line-height: inherit;
                    outline: 0;
                    font-size: 16px;
                    text-decoration: none;
                }

                    #header nav ul li a.button, #header nav ul li span.button {
                        height: 2em;
                        line-height: 2em;
                        padding: 0 1.25em;
                    }

                    #header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
                        margin-right: 0.5em;
                    }

                #header nav ul li.active > a, #header nav ul li.active > span {
                    color: #e44c65;
                }

                #header nav ul li > ul {
                    display: none;
                }

body.landing #page-wrapper {
    padding-top: 0;
}

body.landing #header {
    background: transparent;
    box-shadow: none;
    position: absolute;
}

#content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 20px;
    margin-top: 25px;
}

.box {
    align-content: center;
    background-color: transparent;
    box-shadow: 0px 0px 1px 0px;
    color: black;
    padding: 20px;
    font-size: 24px;
    text-align: center;
    height: 40px;
    width: 100px;
    margin-top: 20px;
    font-size: 20px;
}
  
